name: detect-unused-secrets

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/checkout@v3
      - name: Detect unused secrets
        uses: semraSh/test-detect-secrets@main
        with:
          token: ${{ steps.generate_token.outputs.token }}
