name: detect-unused-secrets

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - uses: actions/github-script@v6
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          script: |
            console.log(await github.rest.actions.listRepoSecrets({
              owner: context.repo.owner,
              repo: context.repo.repo
            }))
              - name: Detect unused secrets
      - name: detect unused secrets
        uses: nearform/github-action-detect-unused-secrets@fix/es-module-scope
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
