name: print-secrets

on: 
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    permissions: read-all
    steps:
      - uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.actions_token }}
          script: |
            console.log(await github.rest.actions.listRepoSecrets({
              owner: context.repo.owner,
              repo: context.repo.repo
            }))
